<!-- Fragmento de Usuarios para el contenido -->

<h2>👤 Usuarios</h2>

<form action="/usuarios/insertar" method="POST" class="mb-3">
    <div class="row d-flex justify-content-center">
        <div class="col"><input name="nombre" class="form-control" placeholder="Nombre"></div>
        <div class="col"><input name="apellidos" class="form-control" placeholder="Apellidos"></div>
        <div class="col"><input name="correo" class="form-control" placeholder="Correo"></div>
        <div class="col"><input name="telefono" class="form-control" placeholder="Teléfono"></div>
        <div class="col"><button class="btn btn-success">Agregar</button></div>
    </div>
</form>

<table class="table align-middle table-white table-hover table-bordered border-warning">
    <thead class="table-warning">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        <% usuarios.forEach(u=> { %>
            <tr>
                <td>
                    <%= u.ID_USUARIO %>
                </td>
                <td>
                    <%= u.NOMBRE %>
                </td>
                <td>
                    <%= u.APELLIDOS %>
                </td>
                <td>
                    <%= u.CORREO %>
                </td>
                <td>
                    <%= u.TELEFONO %>
                </td>

                <td>
                    <!-- UPDATE -->
                    <form action="/usuarios/actualizar" method="POST" class="d-inline">
                        <input type="hidden" name="id_usuario" value="<%= u.ID_USUARIO %>">
                        <input type="hidden" name="nombre" value="<%= u.NOMBRE %>">
                        <input type="hidden" name="apellido" value="<%= u.APELLIDO %>">
                        <input type="hidden" name="correo" value="<%= u.CORREO %>">
                        <input type="hidden" name="telefono" value="<%= u.TELEFONO %>">
                        <div class="d-inline-flex gap-2">
                            <button class="btn btn-warning btn-sm">Actualizar</button>
                        </div>
                    </form>
                    <!-- DELETE -->
                    <form action="/usuarios/eliminar" method="POST" class="d-inline">
                        <input type="hidden" name="id_usuario" value="<%= u.ID_USUARIO %>">
                        <div class="d-inline-flex gap-2">
                            <button class="btn btn-danger btn-sm">Eliminar</button>
                        </div>

                    </form>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>